header .logo {
    top: 195px;
}

/*Lang Section*/

.lang-section {
    row-gap: 20px;
}

.lang-container .lang {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

/*Posicionamiento de los lang-container de la izquierda*/
.lang-container:nth-child(3), .lang-container:nth-child(7) {
    right: 110px;
}

.lang-container:nth-child(5) {
    right: 120px;
}

/*Posicionamiento de los lang-container de la derecha*/

.lang-container:nth-child(2), .lang-container:nth-child(10) {
    left: 55px;
}

.lang-container:nth-child(4), .lang-container:nth-child(8) {
    left: 110px;
}

.lang-container:nth-child(6) {
    left: 120px;
}

/*Search Section*/

.search-section {
    margin-top: 16px;
}

/*Lang List Section*/

.lang-list-button .lang-list-icon {
    left: 3px;
}

.lang-list-button .down-arrow-icon {
    right: 3px;
}
.footer-top {
    grid-template: 108px 302px / 35% 65%;
    grid-template-areas: "side-top other-projects"
                         "side-bottom other-projects";
    padding: 41.6px 12.8px 12.8px;
}

.side-top {
    height: auto;
    text-align: start;
}

.side-top__icon {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    margin-right: 8px;
}

.side-top__text {
    display: inline-block;
    margin: 0;
    width: 70%;
}

.side-bottom {
    position: relative;
    padding: 8px 20px 8px 60px;
    height: auto;
    text-align: start;
}

.side-bottom__icon {
    position: absolute;
    top: 8px;
    left: 8px;
    transform: none;
}

.side-bottom__call2action {
    line-height: 1.9rem;
}

.side-bottom__text {
    margin: 13px 0;
}

.apps-container__app--android {
    margin-bottom: -2px;
}

.footer-bottom {
    margin-bottom: 1.6rem;
}

@media (min-width:936px) {
    .side-bottom {
        height: 175px;
        padding-bottom: 0;
        margin-bottom: 62px;
    }

    .apps-container__app--android {
        margin-bottom: 0;
    }
}